﻿<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-init="isNavCollapsed = true"
                    ng-click="isNavCollapsed = !isNavCollapsed">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="shortify">
                <strong>WIZE</strong><strong class="text-danger">LINE</strong>
            </a>
        </div>
        <div class="collapse navbar-collapse" uib-collapse="isNavCollapsed">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active">
                    <a ui-sref="shortify">Shortify URL</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="list">URL List</a>
                </li>
            </ul>
        </div>
    </div>
</nav>