﻿@{
	const string appName = "WizeLineUrlShortener";
}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Shortify URL - WizeLine</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	@Styles.Render("~/Content/css/vendor")
	@Styles.Render("~/Content/css/app")
</head>
<body ng-app="@appName">
	
<div class="loading-wrap" ng-show="ajaxInProgress">
	<svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
		<circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
	</svg>
</div>
<div class="container">
	@{ Html.RenderPartial("_TopNavbar"); }
	<div class="row">
		<div ui-view></div>
	</div>
	<hr/>
	<footer>
		<p>&copy; @DateTime.UtcNow.Year - Fernando Alvarez</p>
	</footer>
</div>
<script>
	var appName = "@appName";
</script>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/angular")
@Scripts.Render("~/bundles/app")
</body>
</html>