﻿<h1>Check out all the shortified urls!</h1>
<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Short URL</th>
            <th>URL</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-show="areItemsEmpty()">
            <td colspan="2" class="text-center">
                <h4>No items found</h4>
            </td>
        </tr>
        <tr ng-repeat="url in items">
            <td>
                <a ng-href="{{:: url.shortUrl}}">{{:: url.shortUrl}}</a>
            </td>
            <td>
                <a ng-href="{{:: url.longUrl}}">{{:: url.longUrl | characters:85}}</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="col-xs-12">
    <ul uib-pagination boundary-links="true" rotate="true" items-per-page="itemsPerPage"
        total-items="totalItems" ng-model="currentPage" ng-change="loadPage()"
        class="pagination-sm pull-right" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
        last-text="&raquo;"></ul>
</div>