﻿<div class="jumbotron">
    <div class="text-center jumbotron-shortify-text">
        <h2>
            Shortify the URL here! <i class="fa fa-arrow-circle-down"></i>
        </h2>
    </div>
    <form name="shortifyUrlForm" ng-submit="shortifyUrl(shortifyUrlForm)" novalidate>
        <div class="form-group">
            <div class="input-group input-group-lg" ng-class="{'has-error': hasError(shortifyUrlForm.url)}">
                <input type="text" ng-model="model.url" name="url" class="form-control"
                       required ng-maxlength="maxUrlCharacters" placeholder="Ex: https://www.google.com/"
                       ng-pattern="urlRegex" ng-disabled="busy" />
                <span class="input-group-btn">
                    <button class="btn btn-lg btn-primary" type="submit">
                        Shortify!
                    </button>
                </span>
            </div>
            <p ng-show="shortifyUrlForm.url.$error.required && !shortifyUrlForm.url.$pristine && shortifyUrlForm.url.$touched" class="text-danger">
                The URL is required!
            </p>
            <p ng-show="shortifyUrlForm.url.$error.maxlength && !shortifyUrlForm.url.$pristine && shortifyUrlForm.url.$touched" class="text-danger">
                The URL is too long!
            </p>
            <p ng-show="shortifyUrlForm.url.$error.pattern && !shortifyUrlForm.url.$pristine && shortifyUrlForm.url.$touched" class="text-danger">
                The URL is in an incorrect format!
            </p>
        </div>
        <div class="form-group">
            <label class="checkbox-inline">
                <input type="checkbox" ng-model="useCustomKey" />
                Use Custom Key
            </label>
        </div>
        <div ng-show="useCustomKey">
            <label for="customKey">Insert your Custom Key:</label>
            <input class="form-control" id="customKey" type="text" ng-disabled="!useCustomKey" ng-model="model.customKey" />
        </div>
    </form>
</div>

<div ng-show="busy">
    <h3>
        Shortifying your URL. Please wait.
        <svg class="spinner" width="30px" height="30px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
    </h3>
</div>

<div ng-show="showUrlShortified" class="col-sm-4 col-sm-offset-4">
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" ng-click="closeUrlAlert()">&times;</button>
        <strong>Done!</strong>
        <p>
            You brand new short url is ready and is: <strong>
                <a ng-href="{{shortUrl}}">{{shortUrl}}</a>
            </strong>
        </p>
    </div>
</div>

<div ng-show="showList">
    <div class="alert alert-dismissible alert-info">
        <button type="button" class="close" ng-click="closeListAlert()">&times;</button>
        <strong>Url without custom key taken!</strong>
        <p>
            This URL without custom key is taken. Look at the list:
            <ul ng-repeat="url in listOfUrls">
                <li><a href="{{url.shortUrlKey}}">{{url.shortUrlKey}}</a></li>
            </ul>
        </p>
    </div>
</div>

<div ng-show="error" class="col-sm-4 col-sm-offset-4">
    <div class="alert alert-dismissible alert-warning">
        <button type="button" class="close" ng-click="closeErrorAlert()">&times;</button>
        <strong>Something Ocurred!</strong>
        <p>
            Looks like your Custom Key is beign used. Please try with another one.
        </p>
    </div>
</div>